<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <div class="row">
        <div class="col-4">
            <app-iotindicator [config]="config1"></app-iotindicator>
            <button (click)="sendData1()">ENVIAR</button>
        </div>
        <div class="col-4">
            <app-iotindicator [config]="config2"></app-iotindicator>
            <button (click)="sendData2()">ENVIAR</button>
        </div>
        <div class="col-4">
            <app-iotindicator [config]="config3"></app-iotindicator>
            <button (click)="sendData3()">ENVIAR</button>
        </div>
        <div class="col-4">
            <app-iotindicator [config]="config4"></app-iotindicator>
            
            <button (click)="sendData4()">ENVIAR</button>
        </div>
    </div>

    

</div>

