<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
    <!-- <div class="row">
        <div class="col-4">
            <app-iotindicator [config]="configButton"></app-iotindicator>
            <button (click)="sendData1()">ENVIAR {{topic1}}</button>
        </div>
        <div class="col-4">
            <app-iotindicator [config]="config2"></app-iotindicator>
            <button (click)="sendData2()">ENVIAR</button>
        </div>
        <div class="col-4">
            <app-iotindicator [config]="config3"></app-iotindicator>
            <button (click)="sendData3()">ENVIAR</button>
        </div>
        <div class="col-4">
            <app-iotindicator [config]="config4"></app-iotindicator>
            <button (click)="sendData4()">ENVIAR</button>
        </div>
    </div>
    <div class="row">
        <app-iotbutton [config]="configButton"></app-iotbutton> 
    </div> -->
    <!-- <div class="row">
        <app-iotswitch [config]="configButton"></app-iotswitch>
        <app-iotswitch [config]="config1"></app-iotswitch>
    </div> -->
    <div class="row">
        <app-numberchart [config]="configButton"></app-numberchart>
    </div>
</div>
